In [8]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [11]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [12]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [13]:
df                   #we have multilevel index

             A         B
G1 1 -0.674476  0.815590
   2 -3.217414 -0.408284
   3  0.865002 -0.898869
G2 1  0.493360  0.225659
   2 -2.085588 -0.643815
   3 -0.931942  2.200840

In [14]:
df.loc['G1']

          A         B
1 -0.674476  0.815590
2 -3.217414 -0.408284
3  0.865002 -0.898869

In [15]:
df.loc['G1'].loc[1]

A   -0.674476
B    0.815590
Name: 1, dtype: float64

In [16]:
df

             A         B
G1 1 -0.674476  0.815590
   2 -3.217414 -0.408284
   3  0.865002 -0.898869
G2 1  0.493360  0.225659
   2 -2.085588 -0.643815
   3 -0.931942  2.200840

In [17]:
df.index.names

FrozenList([None, None])

In [18]:
df.index.names = ['Grp','Num']    #grp is outside and num is inside index

In [19]:
df

                A         B
Grp Num
G1  1   -0.674476  0.815590
    2   -3.217414 -0.408284
    3    0.865002 -0.898869
G2  1    0.493360  0.225659
    2   -2.085588 -0.643815
    3   -0.931942  2.200840

In [20]:
df.loc['G2'].loc[2]

A   -2.085588
B   -0.643815
Name: 2, dtype: float64

In [21]:
df.loc['G2'].loc[2]['B']

-0.6438148415552436

In [22]:
df.loc['G1'].loc[3]['A']

0.865001666059558

In [23]:
#Cross section 

df.loc['G1']

            A         B
Num
1   -0.674476  0.815590
2   -3.217414 -0.408284
3    0.865002 -0.898869

In [25]:
df.xs('G1')

            A         B
Num
1   -0.674476  0.815590
2   -3.217414 -0.408284
3    0.865002 -0.898869

In [26]:
df

                A         B
Grp Num
G1  1   -0.674476  0.815590
    2   -3.217414 -0.408284
    3    0.865002 -0.898869
G2  1    0.493360  0.225659
    2   -2.085588 -0.643815
    3   -0.931942  2.200840

In [27]:
df.xs(1,level='Num')

            A         B
Grp
G1  -0.674476  0.815590
G2   0.493360  0.225659

In [28]:
df.xs(3,level='Num')

            A         B
Grp
G1   0.865002 -0.898869
G2  -0.931942  2.200840