### Series

In [1]:
import pandas as pd
import numpy as np

In [2]:
labels = ['a', 'b', 'c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [4]:
pd.Series(data= my_data)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [8]:
d

{'a': 10, 'b': 20, 'c': 30}

In [9]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [11]:
ser1 = pd.Series([1,2,3,4],['usa','germany','ussr','japan'])
ser1

usa        1
germany    2
ussr       3
japan      4
dtype: int64

In [13]:
ser2 = pd.Series([2,3,4,5],['usa','italy','germany','japan'])
ser2

usa        2
italy      3
germany    4
japan      5
dtype: int64

In [14]:
ser1['usa']                #taking info out of series

1

In [16]:
ser3 = pd.Series(data = labels)
ser3

0    a
1    b
2    c
dtype: object

In [17]:
ser3[2]

'c'

In [18]:
ser1 + ser2

germany    6.0
italy      NaN
japan      9.0
usa        3.0
ussr       NaN
dtype: float64